<div id="pet-form-page">
  <form action="/edit/{{_id}}" method="PUT" enctype="multipart/form-data">
    <a href="/">
      <h1><img src="/images/logo-primary.svg" alt="">Tinpet</h1>
    </a>

    <h2>Editar Pet</h2>

    <input type="text" name="name" id="name" placeholder="Nome do pet" value="{{name}}">

    <input type="text" name="breed" id="breed" placeholder="Raça" value="{{breed}}">

    <label for="birth">Data de nascimento</label>
    <input type="date" name="birth" id="birth" placeholder="Data de nascimento" value={{birth}}>

    <label for="gender">Gênero</label>
    <select name="gender" id="gender">
      <option value="{{gender}}">{{gender}}</option>
      <option value="Fêmea">Fêmea</option>
      <option value="Macho">Macho</option>
    </select>

    <label for="pedigree">Pedigree</label>
    <select name="pedigree" id="pedigree">
      <option value="{{pedigree}}">{{pedigree}}</option>
      <option value="Sim">Sim</option>
      <option value="Não">Não</option>
    </select>

    <label for="imageUrl" class="upload-image">Atualizar foto
      <input id="imageUrl" type="file" name="imageUrl" value="{{imageUrl}}">
    </label>
    <img src="{{imageUrl}}" width="150" style="margin: 0 0 30px" />

    <button type="submit">Salvar alterações</button>
  </form>
</div>