<div id="container">
  <h2>You are in a session!</h2><br>
  <a href="/register">Cadastro de PET</a><br>
</div>

{{#each pets}}
<h1><a href="/pets/{{_id}}">{{name}}</a></h1>
<button><a href='/edit/{{_id}}'>Edit</a></button>
<button><a href='/delete/{{_id}}'>Delete</a></button>
<button><a href='/match/{{_id}}'>Play Match</a></button>

<p>DeadLine: {{updatedAt}}</p>
{{/each}}