<div id="application-page">
  <header>
    <div>
      <a href="/">
        <img src="/images/logo-primary.svg" alt="Logo">
      </a>
      <button>{{name}}
        <div class="user-options">
          <ul>
            <li><a href="/notifications/">Notificações</a></li>
            <li><a href="/user-edit/{{ownerId}}">Editar cadastro</a></li>
            <li><a href="/logout">Sair</a></li>
          </ul>
        </div>
      </button>
    </div>
  </header>
  <section>
    <div>
      <h1>Meus Pets</h1>
      <a href="/register"><button>Adicionar Pet</button></a>
    </div>
  </section>
  <main>
    {{!-- {{#if pets}}
    <div class="application-start">
      <span>
        <img src="/images/dashed-line.svg" alt="Dashed line">
      </span>
      <h2>Adicione seu primeiro Pet</h2>
      <p>Clique no botão acima para adicionar seu primeiro Pet</p>
    </div>
    {{/if}} --}}

    {{#each pets}}
    <ul class="application-pet-list">
      <li>
        <div class="application-pet-list__header">
          <span><img src="{{imageUrl}}" /></span>
          <h3>Thor</h3>
        </div>
        <div class="application-pet-list__info">
          <span>
            <strong>Raça:</strong>
            <p>Pastor alemão</p>
          </span>
          <span>
            <strong>Gênero:</strong>
            <p>Macho</p>
          </span>
          <span>
            <strong>Data de Nascimento:</strong>
            <p>02 de outubro de 2019</p>
          </span>
        </div>
        <div class="application-pet-list__buttons">
          <a href='/match/{{_id}}'><img src="/images/bone-solid.svg" alt=""></a>
          <a href="/edit/{{_id}}"><img src="/images/edit-regular.svg" alt=""></a>
          <a href="/delete/{{_id}}"><img src="/images/trash-alt-regular.svg" alt=""></a>
        </div>
      </li>
      {{/each}}

    </ul>
  </main>
  <footer>
    <div>
      <p>&copy Tinpet 2019. Todos os direitos reservados.</p>
    </div>
  </footer>
</div>