<div id="register-page">
  <form id="form" action="/user-edit/{{_id}}" method="PUT">
    <a href="/">
      <h1><img src="/images/logo-primary.svg" alt="">Tinpet</h1>
    </a>

    <h2>Editar cadastro</h2>

    <input type="text" name="name" id='name' placeholder="Nome" value="{{name}}">

    <input type="email" name="email" id="email" placeholder="E-mail" value="{{email}}">

    {{!-- <input type="password" name="password" id="password" placeholder="Senha" value="{{password}}"> --}}

    <input type="date" name="birthDate" id="birthDate" placeholder="Data de Nascimento"
      value="{{dateFormat birthDate "DD/MM/YYYY"}}">

    <input type="text" name="phone" id="phone" placeholder="Telefone" value="{{phone}}">

    {{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}

    <div class="progress">
      <div id="StrengthProgressBar" class="progress-bar"></div>
    </div>

    <button type="submit">Salvar alterações</button>
  </form>
</div>