{{#each resp}}
Meu Cachorro<br>
<span><img src="{{this.petEvaluated.imageUrl}}" /></span><br>
name: {{this.petEvaluated.name}}<br>
birth: {{dateFormat this.petEvaluated.birth "DD/MM/YYYY"}}<br>
breed: {{this.petEvaluated.breed}}<br>
gender: {{this.petEvaluated.gender}}<br>
pedigree: {{this.petEvaluated.pedigree}}<br>
<br><br><br>

Outro Cachorro<br>
<span><img src="{{this.petEvaluating.imageUrl}}" /></span><br>
name: {{this.petEvaluating.name}}<br>
birth: {{dateFormat this.petEvaluating.birth "DD/MM/YYYY"}}<br>
breed: {{this.petEvaluating.breed}}<br>
gender: {{this.petEvaluating.gender}}<br>
pedigree: {{this.petEvaluating.pedigree}}<br><br>
Informação para Contato<br>
name: {{../user.name}}<br>
email: {{../user.email}}<br>
phone: {{../user.phone}}<br>
<br><br><br>
{{/each}}
