<h1>De um Match</h1>

{{#each pets}}
<img src="{{imageUrl}}" height="150" />
<h1><a href="/match/{{_id}}">{{name}}</a></h1>
<button><a href='/edit/{{_id}}'>Edit</a></button>
<button><a href='/delete/{{_id}}'>Delete</a></button>
<button><a href='/match/{{_id}}'>Play Match</a></button>

<p>DeadLine: {{updatedAt}}</p>
{{/each}}