<div id="application-page">
  <div style="display: none">
    {{petSelectId}}
    {{petsEvaluation}}
  </div>
  <header>
    <div>
      <a href="/my-account">
        <img src="/images/logo-primary.svg" alt="Logo">
      </a>
      <button class="user">{{name}}
        <div class="user-options">
          <ul>
            <li><a href="/user-edit/{{ownerId}}">Editar cadastro</a></li>
            <li><a href="/logout">Sair</a></li>
          </ul>
        </div>
      </button>
    </div>
  </header>
  <section>
    <div>
      <h1>Match</h1>
    </div>
  </section>
  <main>
    {{#each pets}}
    <ul class="application-pet-list">
      <li>
        <div class="application-pet-list__header">
          <span><img src="{{imageUrl}}" /></span>
          <h3><a href="/match/{{_id}}"></a>{{name}}</h3>
        </div>
        <div class="application-pet-list__info">
          <span>
            <strong>Raça:</strong>
            <p>{{breed}}</p>
          </span>
          <span>
            <strong>Gênero:</strong>
            <p>{{gender}}</p>
          </span>
          <span>
            <strong>Data de Nascimento:</strong>
            <p>{{birth}}</p>
          </span>
        </div>
        <div class="application-pet-list__buttons">
          <a href='/match-evaluation/{{_id}}/{{../petSelectId}}'><img src="/images/heart-solid.svg"
              style="animation: none" alt=""></a>
          <a href='/delete/{{_id}}'><img src="/images/times-solid.svg" alt=""></a>
          <a href='/match/{{_id}}'><img src="/images/question-solid.svg" alt=""></a>
        </div>
      </li>
      {{/each}}

    </ul>
  </main>
  <footer>
    <div>
      <p>&copy Tinpet 2019. Todos os direitos reservados.</p>
    </div>
  </footer>
</div>